
body{
    background-color: grey;
}
h1{
    background-color: paleturquoise;
    text-align: center;
}
h2{
    text-align: center;
    color: chartreuse;
}
p{
    text-align: center;
    color: palegreen;
   
}